.headText {
    color: #05141F;
    font-size: 36px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px;

    @media only screen and (max-width: 768px) {
        font-size: 1.5rem;
                text-align: center;
    }
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    background-color: #fff;
    padding: 60px 0px;

}

.monoText {
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    font-size: 29px;
    margin: 0px;

    @media only screen and (max-width: 768px) {
        font-size: 1rem;
    }

}

.gridList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
    width: 100%;
    flex-wrap: wrap;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.column {
    display: flex;
    flex-direction: column;
    max-width: 30%;

    @media only screen and (max-width: 768px) {
        max-width: 100% !important;
    }

}

.columnHead {
    font-size: 18px;
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
}

.flexAccordionContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin:0px 10px;
    

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }


}

.liStyle {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}

.accordionContainer {
    width: 48%;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.itemText {
    color: #05141F !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    max-width: 150px;
    text-align: center;
    min-height: 60px;
}
.IconImage{
    width: 80px;
    height: 80px;
        @media only screen and (max-width: 768px) {
            width: 60px;
            height: 60px;
        }
}