.toolBar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.menuButton {
    margin-right: 2rem !important;
    color: white !important
}

.promoContainer {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding-top: 80px;

    @media only screen and (max-width: 768px) {
        padding-top: 60px;
    }

    @media only screen and (max-width: 768px) {
        height: 26vh !important;
        width: 98%;
        padding-bottom: 20px;

        .mouse {
            height: 20px !important;
            width: 20px !important;
        }

    }

    .text {
        color: #FFF;
        font-size: 62px;
        font-style: normal;
        font-weight: 700;
        z-index: 1000;
        background-color: transparent;
        line-height: normal;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.64);
        font-family: 'KiaSignaturebold' !important;

        @media only screen and (max-width: 768px) {
            font-size: 24px;
            width: 100%;
            margin-top: 0px;
            margin-left: 20px;
            text-align: center;
        }

    }
}

.videoClass {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    @media only screen and (max-width: 768px) {
        height: 26vh;
    }
}

.mobileHeightVideoClass {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    @media only screen and (max-width: 768px) {
        height: 230px;
    }
}

