.colorsMainContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.colorBallContainer {
    position: absolute;
    bottom: 5%;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.colorBall {


    cursor: pointer;
    transition: transform .2s;

    width: 70px;
    height: 70px;
    object-fit: none;
    border-radius: 38px;



}

.colorBallSelected {
    padding-bottom: 10px;
    border-bottom: 5px solid yellow;
    
}

.colorBall:hover {
    transform: scale(1.2)
}