.footerContainer {
    height: 100vh;
    background: #05141f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
        height: auto;
    }
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center
}

.socialContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px
}

.imageBoxContainer {
    display: flex;
    align-items: center;
    gap: 24px
}

.imageBox {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: 768px) {
        justify-content: center;
    }
}

.imageText {
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
        font-size: 18px;
        width: 280px;
        text-align: center;
    }
}

.button {
    color: #05141F;
    background-color: #fff;
    padding: 15px 25px;
    font-size: 16px;
    text-transform: capitalize;
}

.image {
    width: 550px;
    height: 325px;
    object-fit: cover;

    @media only screen and (max-width: 768px) {
        width: 280px;
    }

}

.copyRight {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
    @media only screen and (max-width: 768px) {
        margin-top: 50px;
    }
}

.copyText {
    margin-top: 16px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.20);
    font-size: 16px;
}