html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #05141f;
  }
}

.view-container {
  @media only screen and (max-width: 768px) {
    height: 50vh !important;
  }
}

.slick-next {
  right: 0px !important;

  @media only screen and (max-width: 768px) {
    top: 50% !important;
  }
}

.slick-prev {
  left: 0px !important;

  @media only screen and (max-width: 768px) {
    top: 50% !important;
  }
}

.slick-prev::before {
  content: '' !important
}

.psv-zoom-button,
.psv-zoom-range,
.psv-fullscreen-button {
  display: none;
}

.psv-navbar .psv--capture-event .psv-navbar--open {
  top: 0 !important;
}

.psv-button-svg {
  color: #fff;
  width: 42px !important;
  height: 42px !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;


}

.psv-navbar {
  background-color: transparent !important;
  top: 45% !important;
  left: 46% !important;

}

.psv-button--active {
  background-color: transparent !important;
}

.psv-button {
  display: none;
}

video::-webkit-media-controls-time-remaining-display {
  display: none;
}

video::-webkit-media-controls-time-remaining {
  display: none;
}

.slick-dots li {
  background-color: #fff !important;
  width: 40px !important;
  height: 2px !important;
  opacity: 1 !important;
  padding: 0 !important;
  content: '' !important;

}

.slick-dots li button {
  background-color: gray !important;
  width: 40px !important;
  height: 2px !important;
  opacity: 1 !important;
  padding: 0 !important;
  content: '' !important;

}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  content: "" !important;
}

.slick-dots .slick-active button::before {
  content: '' !important;
}

.slick-dots .slick-active button {
  background-color: #fff !important;
}

.slick-dots li button ::before {
  color: #fff !important;
  width: 40px !important;
  height: 2px !important;
  padding: 0 !important;
  opacity: 1 !important;
  content: '' !important;
}

.slick-dots {
  bottom: 25px !important;

  @media only screen and (max-width: 768px) {
    bottom: 10px !important;
  }
}

.psv-canvas-container canvas {
  height: 100vh !important;

  @media only screen and (max-width: 768px) {
    height: 50vh !important;
  }
}

.slick-dots li button:before {
  content: '' !important
}

.MuiSlider-thumb {
  background-color: black;
  border: 1px solid #fff;
  z-index: 100;
}

.MuiSlider-track {
  background-color: #fff;
  color: #fff;
  border-color: transparent;
}

.MuiSlider-valueLabel {
  display: none;
}



.MuiSlider-rail {
  opacity: 1;
  background-color: #fff;
  border-radius: 0px;
}

.MuiSlider-root {
  &:nth-child(3) {

    background: green !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    opacity: 1 !important;
  }
}

.MuiSlider-mark {
  width: 1px;
  height: 1px;
  color: #fff;
}

.MuiSlider-track {
  background-color: #fff;
  border-radius: 0px;
}

.video-js .vjs-control-bar {
  background: linear-gradient(transparent, rgba(0, 0, 0, .75)) !important;
}

.video-js .vjs-picture-in-picture-control {
  display: none !important;
}

.video-js .vjs-fullscreen-control {
  visibility: hidden !important;
}

.video-js .vjs-volume-panel {
  position: absolute !important;
  inset-inline-end: 0px;
  bottom: 1px;
}