html,
body {
  padding: 0;
  margin: 0;
  font-family: 'kia-signature' !important;
  scroll-behavior: smooth;
  overflow-x: hidden
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #05141f;
  }
}

.view-container {
  @media only screen and (max-width: 768px) {
    height: 50vh !important;
  }
}

.slick-next {
  right: 0px !important;

  @media only screen and (max-width: 768px) {
    top: 50% !important;
  }
}

.slick-prev {
  left: 0px !important;

  @media only screen and (max-width: 768px) {
    top: 50% !important;
  }
}

.slick-prev::before {
  content: '' !important
}

.slick-next::before {
  content: '' !important
}

.psv-zoom-button,
.psv-zoom-range,
.psv-fullscreen-button {
  display: none;
}

.psv-navbar .psv--capture-event .psv-navbar--open {
  top: 0 !important;
}

.psv-button-svg {
  color: #fff;
  width: 42px !important;
  height: 42px !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;


}

.psv-navbar {
  background-color: transparent !important;
  top: 45% !important;
  left: 46% !important;

}

.psv-button--active {
  background-color: transparent !important;
}

.psv-button {
  display: none;
}

video::-webkit-media-controls-time-remaining-display {
  display: none;
}

video::-webkit-media-controls-time-remaining {
  display: none;
}

.slick-dots li {
  background-color: #fff !important;
  width: 40px !important;
  height: 2px !important;
  opacity: 1 !important;
  padding: 0 !important;
  content: '' !important;

}

.slick-dots li button {
  background-color: gray !important;
  width: 40px !important;
  height: 2px !important;
  opacity: 1 !important;
  padding: 0 !important;
  content: '' !important;

}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  content: "" !important;
}

.slick-dots .slick-active button::before {
  content: '' !important;
}

.slick-dots .slick-active button {
  background-color: #fff !important;
}

.slick-dots li button ::before {
  color: #fff !important;
  width: 40px !important;
  height: 2px !important;
  padding: 0 !important;
  opacity: 1 !important;
  content: '' !important;
}

.slick-dots {
  bottom: 25px !important;

  @media only screen and (max-width: 768px) {
    bottom: 10px !important;
  }
}

.psv-canvas-container canvas {
  height: 100vh !important;

  @media only screen and (max-width: 768px) {
    height: 50vh !important;
  }
}

.slick-dots li button:before {
  content: '' !important
}

.MuiSlider-thumb {
  background-color: black;
  border: 1px solid #fff;
  z-index: 100;
}

.MuiSlider-track {
  background-color: #fff;
  color: #fff;
  border-color: transparent;
}

.MuiSlider-valueLabel {
  display: none;
}



.MuiSlider-rail {
  opacity: 1;
  background-color: #fff;
  border-radius: 0px;
}

.MuiSlider-root {
  &:nth-child(3) {

    background: green !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    opacity: 1 !important;
  }
}

.MuiSlider-mark {
  width: 1px;
  height: 1px;
  color: #fff;
}

.MuiSlider-track {
  background-color: #fff;
  border-radius: 0px;
}

video::-webkit-media-controls-mute-button {
  display: none;
}

video::-webkit-media-controls-current-time-display {
  display: none;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;

  &::after {
    background-color: green !important;
  }
}

input[psudo] video::-webkit-media-controls-fullscreen-button::after {
  background-color: green;
}

video::-webkit-media-controls-picture-in-picture-button {
  display: none;
}

video::-webkit-media-controls-internal-media-controls-overflow-button {
  display: none;
}




video::-internal-media-controls-overflow-button {
  display: none;
}


video::-webkit-media-controls-volume-control-container {
  display: none;
}

video::-webkit-media-controls-panel div[pseudo="-internal-media-controls-button-panel"] {
  display: none !important;
}

video::-internal-media-controls-button-panel {
  display: none !important;
}

@font-face {
  font-family: 'KiaSignature';
  src: url('../public/assets/kiaSegniture/KiaSignatureLight.woff');
  src: url('../public/assets/kiaSegniture/KiaSignatureRegular.woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: KiaSignature !important;
}

p {
  font-family: KiaSignature !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: KiaSignature !important;
}
.psv-container .psv--has-navbar{
  display: none !important;
}
.psv-navbar{
  display: none !important;
}