html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

 .slick-next {
   right: 0px !important
 }

 .slick-prev {
   left: 0px !important
 }

 .slick-prev::before {
   content: ''
 }

 .psv-zoom-button , .psv-zoom-range , .psv-fullscreen-button{
  display: none;
 }
 
.psv-navbar .psv--capture-event .psv-navbar--open{
  top: 0 !important;
}
.psv-button-svg{
  color: #fff;
  width: 42px !important;
  height: 42px !important;
  background-color: rgba(0,0,0,0.6);
  border-radius: 50%;
  padding: 10px;

}
.psv-navbar{
  background-color: transparent !important;
  top: 45% !important;
  left: 46% !important;
  
}
.psv-button--active{
  background-color: transparent !important;
}